[default]

#############
## General ##
#############
# Website url
website_url			= localhost
# Folder where you drop content files
content_folder		= content
# Make a content files html rendering. Set no if you just want text files or yes
content_html		= yes
# Template folder name
template_name		= default

###############
## Web Share ##
###############
# Yes to active webshare, or no 
webshare			= yes
port				= 8000
