@font-face {
  font-family: Ubuntu-R;
  src: url('fonts/Ubuntu-R.ttf');
}
body {
	background-color: #FCFBF2;
	width: 900px;
	margin: auto;
}
#website_title {
	text-align: center;
	font-family: Ubuntu-R;
	font-size: 30px;
	background-color: #CDCCCC;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px; 
}
#website_title a {
	text-decoration: none;
	color: black;
}
footer {
    clear:both;
    font-family: Verdana, Tahoma;
    font-size: 11px;
    text-align: center;
    margin-top: 15px;
	margin-bottom: 5px;
    background-color: #CDCCCC;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/* ################# */
/* ##### Index ##### */
/* ################# */

#welcome_message {
	margin: auto;
	text-align: center;
	font-family: Verdana, Tahoma;
	margin-bottom: 25px;
	width: 600px;
	outline: 2px dotted #CDCCCC; 
    outline-offset: 10px; /*Delete if you don't want an offset*/
}
#welcome_content {
    font-family: Verdana, Tahoma;
    font-size: 11px;
    margin-top: 40px;
}
#menu {
	font-family: Verdana, Tahoma;
	background-color: #CDCCCC;
	width: 240px;
	padding: 5px;
	padding-left: 0px;
	margin-right: 15px;
	margin-bottom: 10px;
	float: left;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;	 
}
#menu ul {
	margin-top: 5px;
	margin-bottom: 9px;
}
#root_menu .root_content_title, #sub_menu .sub_content_title {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 11px;
	cursor : default;
	margin-left: 10px;
}
#root_menu li, #sub_menu li {
	font-size: 11px;
	list-style: circle;
}
#root_menu a, #sub_menu a {
	margin-right: 5px;
	color: #3F3F3F;
	text-decoration: none;
}

/* ################# */
/* ##### View  ##### */
/* ################# */

#file_description {
    margin: auto;
    margin-bottom: 25px;
    width: 600px;
    outline: 2px dotted #CDCCCC; 
    outline-offset: 10px; /*Delete if you don't want an offset*/
}
#file_name {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	font-family: Verdana, Tahoma;
}
#file_links {
	color: #CDCCCC;
	text-align: center;
}
#file_links a {
	color: #5F9EA0;
	font-size: 11px;
	text-decoration: none;
}
#file_content {
	margin: auto;
	width: 600px;
	font-family: Verdana, Tahoma;
    font-size: 11px;
    margin-top: 40px;
}
#file_content a {
	text-decoration: none;
	color: #5F9EA0;
}
